@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a asp-controller="Customer" asp-action="CustomerList" class="btn btn-secondary" role="button" aria-pressed="true">List</a>
    </div>
