@model BankInlupp2Mvc2.ViewModels.AccountIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image:url('../img/background.jpg'); height:700px; width:auto; margin-right: 100px; margin-top:75px; margin-left:150px; background-repeat: no-repeat; text-align:center;">
    <img style="margin-left:auto; margin-right:auto;" src="~/img/017d18cf405d452fa1c9b9f7b5210157.png" />
    <h3>SW Bank, looking out for the little man since 2021.</h3>
</div>