@model BankInlupp2Mvc2.ViewModels.AccountIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:75px; background-image:url('../img/background.jpg');" class="responsive">
    <img class="center" src="~/img/017d18cf405d452fa1c9b9f7b5210157.png" />
</div>

<div style="color:black; margin-top:200px; margin-left:150px; text-align: center" class="row responsive">
    <div style="margin-right:250px" class="card">
        <img src="~/img/phone.jpg" alt="Avatar" style="height: 100%; width: 100%; object-fit: contain">
        <div class="container">
            <h4><b>24 hour Service</b></h4>
            <p>Around the clock service!</p>
        </div>
    </div>
    <div style="margin-right: 250px" class="card">
        <img src="~/img/rates.jpg" alt="Avatar" style="height: 100%; width: 100%; object-fit: contain">
        <div class="container">
            <h4><b>Incredible rates</b></h4>
            <p>Best rates on the market</p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/family.jpg" alt="Avatar" style="height: 100%; width: 100%; object-fit: contain">
        <div class="container">
            <h4><b>Family packages</b></h4>
            <p>Aamazing family deals</p>
        </div>
    </div>
</div>