@model BankInlupp2Mvc2.ViewModels.DepositViewModel
@{
    ViewData["Title"] = "Deposit";
}

<h2 style="color:black">Balance: @Model.Balance kr</h2>
<br />
<br />
<div style="margin-right:100px; color:black">
    <form asp-controller="Account" asp-action="Deposit" method="post">
        <h3>Amount</h3>
        <input class="form-control" asp-for="Amount">
        @Html.ValidationMessageFor(m => m.Error)
        <br />
        <button type="submit" class="btn btn-info">Deposit</button>
    </form>
</div>

