@model BankInlupp2Mvc2.ViewModels.DepositViewModel
@{
    ViewData["Title"] = "Deposit";
}

<h2>Current balance: @Model.Balance kr</h2>
<br />
<br />
<div>
    <form asp-controller="Account" asp-action="Deposit" method="post">
        <input class="form-control" asp-for="Amount">
        <button type="submit" class="btn btn-primary">Deposit</button>
    </form>
</div>
@Html.ValidationMessageFor(m => m.Error)


