@model BankInlupp2Mvc2.ViewModels.TransactionViewModel
@{
    ViewData["Title"] = "Transaction";
}

<h2 style="color:black">Balance: @Model.Balance kr</h2>
<br />
<br />
<div style="margin-right:100px; color:black">
    <form asp-controller="Account" asp-action="Transaction" method="post">
        <h3>Account ID</h3>
        <input class="form-control" asp-for="RecieverId" />
        <h3>Amount</h3>
        <input class="form-control" asp-for="Amount" />
        @Html.ValidationMessageFor(m => m.Error)
        <br />
        <button type="submit" class="btn btn-info">Transfer</button>
    </form>
</div>