@model BankInlupp2Mvc2.ViewModels.TransactionViewModel
@{
    ViewData["Title"] = "Transaction";
}

<h2>Current balance: @Model.Balance kr</h2>
<br />
<br />
<div>
    <form asp-controller="Account" asp-action="Transaction" method="post">
        <input class="form-control" asp-for="RecieverId" />
        <input class="form-control" asp-for="Amount">
        <button type="submit" class="btn btn-primary">Transfer</button>
    </form>
</div>
@Html.ValidationMessageFor(m => m.Error)